header,
main,
footer {
    display: flex;
    justify-content: center;
}

header {
    background-color: blue;
}

main {
    background-color: #ededed;
}

footer {
    background-color: black;
}

.test {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

.inputTest {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 3rem;
    margin: 3rem;
}
